apiVersion: apps/v1
kind: Deployment
metadata:
  name: scala-deployment-4
spec:
  selector:
    matchLabels:
      app: scala
  replicas: 1
  template:
    metadata:
      labels:
        app: scala
    spec:
      containers:
      - name: scala
        image: <IMAGE_NAME>
        ports:
        - containerPort: 80
          protocol: TCP
        command: ["/bin/sh", "-ec", "sleep 1000"]  
